<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./../../common/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/personal.js"></script>
    <link rel="stylesheet" href="./css/personal.css">
    <title>个人中心</title>
</head>
<body>
    <div id="personal-container">
            <div class="personal-head">
                <img class="back" src="./images/back.png" onclick="back()"></img>
                <span>个人中心</span>
                <img src="./images/ic_message.png"></img>
            </div>
        <nav>
            <div class="nav-content">
                <img class="avatar" src="./images/img_yonghu_moren.png"></img>
                <div class="user">
                    <div class="username">笑扯了嘴角O_O</div>
                    <div class="invitation-code">
                        <p>邀请码: 12345</p>
                    </div>
                </div>
                <div class="copy">
                    <button class="copy-button">复制</button>
                </div>
            </div>
            <div class="summary">
                <div class="my-balance">
                    <div class="count">¥2000</div>
                    <div class="tooltip">我的余额（元）</div>
                </div>
                <div class="divisor">
                    <img class="divisor-img" src="./images/line.png" />
                </div>
                <div class="my-team">
                    <div class="count">50</div>
                    <div class="tooltip">我的团队</div>
                </div>
            </div>
        </nav>
        
        <div class="join">
            <div class="join-container">
                <div class="join-content">
                    <div class="join-content1">XXXXXXXXXXX</div>
                    <div class="join-content2">XXXXXXXXXXX</div>
                </div>
                <div class="join-opt">
                    <button class="join-btn">GO</button>
                </div>
            </div>
        </div>

        <div class="personal-center">
           <section>
               <img src="./images/team.png"></img>
               <span>拓展团队</span>
               <img src="./images/enter.png"></img>
           </section>
           <section>
                <img src="./images/team.png"></img>
                <span>在线客服</span>
                <img src="./images/enter.png"></img>
            </section>
            <section>
                <img src="./images/about_us.png"></img>
                <span>关于我们</span>
                <img src="./images/enter.png"></img>
            </section>
        </div>
        <button class="logout">退出登录</button>
    </div>
</body>
</html>