nav {
    height: 424px;
    background-image: url('./../images/bg.png');
}
.message {
    float: right;
    margin-right: 32px;
    padding-top: 20px;
}
.nav-content {
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 80px;
}
.avatar {
    float: left;
}
.user {
    color: #FFFFFF;
    float: left;
    margin-left: 24px;
    margin-top: 10px;
}
.username {
    font-family: 'SourceHanSansCN Medium';
    font-size: 36px;
}
.invitation-code {
    font-family: 'SourceHanSansCN Regular';
    margin-top: 24px;
    font-size: 24px;
}
.copy {
    float: right;
    line-height: 128px;
}
.copy-button {
    width: 128px;
    height: 48px;
    font-family: 'SourceHanSansCN light';
    border: 1px solid #FFFFFF;
    font-size: 24px;
    border-radius: 20px;
    background-color: #ff3300;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
.summary {
    /* position: fixed;
    top: 280px;
    left: 0;
    right: 0;
    margin: 0 auto; */
    margin-top: 185px;
    margin-left: auto;
    margin-right: auto;
    width: 686px;
    height: 160px;
    background-color: #FFFFFF;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}
.my-balance {
    float: left;
    text-align: center;
    width: 50%;
    margin-top: 40px;
}
.count {
    font-family: 'ArialMT Regular';
    font-size: 24px;
    color: #F8340F;
}
.tooltip {
    margin-top: 10px;
    font-family: 'SourceHanSansCN Normal';
    font-size: 24px;
    color: #333333;
}
.divisor {
    /* position: fixed; */
    float: left;
    left: 50%;
    margin-top: 40px;
}
.divisor-img {
    height: 80px;
    line-height: 80px;
    width: 1px;
}
.my-team {
    margin-top: 40px;
    text-align: center;
}
.join {
    width: 712px;
    height: 138px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    
}
.join-container {
    width: 686px;
    height: 138px;
    margin: 0 auto;
    text-align: center;
    background: #FF7F50;
    border-radius: 100px;
}
.join-content {
    float: left;
    margin-left: 32%;
}
.join-content1 {
    padding-top: 30px;
    color: #FFFFFF;
    font-family: 'SourceHanSansCN Normal';
    font-size: 30px;
    font-weight: bold;
}
.join-content2 {
    background-color: #FFB90F;
    width: 200px;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: #FFFFFF;
}
.join-opt {
    float: right;
    height: 80px;
    width: 80px;
    margin-top: 30px;
    margin-right: 30px;
}
.join-btn {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #FFB90F;
    border: 1px solid #FFC125;
    color: #FFFFFF;
    font-size: 30px;
}
.job {
    width: 686px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}
.job-title {
    padding-bottom: 10px;
    font-family: 'SourceHanSansCN Regular';
    font-size: 32px;
    color: #333333;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 8px;
}
.job-name {
    float: left;
    width: 50%;
    text-align: center;
}
.on-going {
    text-align: center;
    color: #F8340F;
}
section {
    height: 175px;
    border-bottom: 1px solid #e5e5e5;
}
.content {
    float: left;
    width: 50%;
    margin-top: 24px;
}
.content-img {
    float: left;
    height: 128px;
    width: 128px;
}
.content-title {
    text-align: center;
    margin-top: 20px;
}
.content-title1 {
    font-family: 'SourceHanSansCN Normal';
    font-size: 30px;
    color: #3A3A3A;
}
.content-title2 {
    margin-top: 10px;
    font-family: 'SourceHanSansCN Light';
    font-size: 24px;
    color: #999999;
}
.profit {
    text-align: center;
    line-height: 128px;
    font-family: 'ArialMT Regular';
    font-size: 36px;
    color: #F8340F;
}