<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./../../common/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/about.js"></script>
    <link rel="stylesheet" href="./css/about.css">
    <title>关于我们</title>
</head>
<body>
    <div id="about-container">
        <nav>
            <div class="about-head">
                <img class="back" src="./images/back.png" onclick="back()"></img>
                <span>关于我们</span>
            </div>
        </nav>
    </div>
</body>
</html>