<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./../../common/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/home.js"></script>
    <link rel="stylesheet" href="./css/home.css">
    <title>首页</title>
</head>
<body>
    <div id="home-container">
        <nav>
            <img class="message" src="./images/message.png"></img>
            <div class="nav-content">
                <img class="avatar" src="./images/img_yonghu_moren.png"></img>
                <div class="user">
                    <div class="username">笑扯了嘴角O_O</div>
                    <div class="invitation-code">
                        <p>邀请码: 12345</p>
                    </div>
                </div>
                <div class="copy">
                    <button class="copy-button">复制</button>
                </div>
            </div>
            <div class="summary">
                    <div class="my-balance">
                        <div class="count">¥2000</div>
                        <div class="tooltip">我的余额（元）</div>
                    </div>
                    <div class="divisor">
                        <img class="divisor-img" src="./images/line.png" />
                    </div>
                    <div class="my-team">
                        <div class="count">50</div>
                        <div class="tooltip">我的团队</div>
                    </div>
                </div>
        </nav>
        
        <div class="join">
            <div class="join-container">
                <div class="join-content">
                    <div class="join-content1">XXXXXXXXXXX</div>
                    <div class="join-content2">XXXXXXXXXXX</div>
                </div>
                <div class="join-opt">
                    <button class="join-btn">GO</button>
                </div>
            </div>
        </div>

        <div class="job">
            <div class="job-title">
                <div class="job-name">任务</div>
                <div class="on-going">进行中</div>
            </div>
            <div class="job-content">
                <section class="">
                    <div class="content">
                        <img class="content-img" src="images/flower.jpg"></img>
                        <div class="content-title">
                            <div class="content-title1">亦跑APP实名</div>
                            <div class="content-title2">副标题</div>
                        </div>
                    </div>
                    <div class="profit">+ 1 元</div>
                </section>
                <section class="">
                        <div class="content">
                            <img class="content-img" src="images/flower.jpg"></img>
                            <div class="content-title">
                                <div class="content-title1">亦跑APP实名</div>
                                <div class="content-title2">副标题</div>
                            </div>
                        </div>
                        <div class="profit">+ 1 元</div>
                    </section>
                    <section class="">
                            <div class="content">
                                <img class="content-img" src="images/flower.jpg"></img>
                                <div class="content-title">
                                    <div class="content-title1">亦跑APP实名</div>
                                    <div class="content-title2">副标题</div>
                                </div>
                            </div>
                            <div class="profit">+ 1 元</div>
                        </section>
            </div>
        </div>
    </div>
</body>
</html>