<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./../../common/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/award.js"></script>
    <link rel="stylesheet" href="./css/award.css">
    <title>领取奖励</title>
</head>
<body>
    <div id="award">
        <nav>
            <div class="award-head">
                <img class="back" src="./images/back.png" onclick="back()"></img>
                <span>领取奖励</span>
            </div>
        </nav>
        
        <div class="award-content">
            <img src="./images/award.png"></img>
            <p class="tooltip1">等待处理，预计收入 ¥5元</p>
            <p class="tooltip2">已提交任务，等待审核处理</p>
        </div>
        <button class="get-task">申请更多任务</button>
    </div>
</body>
</html>